<% include ../partials/header %> 

<div class="users">
  <div id="title">Players online :</div>
  <div id="listAllUsers"></div>
  <div id="nbUsers">0</div>
</div>

<div id="layout">
  <div>
    <label>Musique</label>
    <input type="range" name="volume" id="volumeMusic" min="0" max="10" step="1">
    <p id="volumeMusicValue">5</p>
  </div>

  <div>
    <label>Effets</label>
    <input type="range" name="volume" id="volumeEffects" min="0" max="10" step="1">
    <p id="volumeEffectsValue">5</p>
  </div>
</div>

<div class="player">
  <div class="namePlayer"></div>
  <div id="mouche"></div>
</div>

<div id="otherPlayers"></div>

<div id="targets">
</div>

<div class="poops"></div>
 
<% include ../partials/footer %>
