<% include ../partials/header %>

<h1 class="title">WELCOME TO <span>TEEMO</span> POOPER</h1>

<div class="logo">
	<img src="assets/images/logo.jpg" />
</div>

<div class="selection">
	<div class="block">
		<i class="fa fa-angle-left" id="left"></i>
		<div class="skin"></div>
		<i class="fa fa-angle-right" id="right"></i>
	</div>
</div>

<div class="form">
	<input name="name" type="text" maxlength="10" placeholder="Login of your trash champ" required />
	<input name="submit" type="submit" value="Play" disabled />
</div>
 
<% include ../partials/footer %>
