body {
  height     : 100vh;
  outline    : none;
  overflow   : hidden;
  user-select: none;
}

html {
  background     : url('../images/game.gif') no-repeat center center fixed;
  background-size: cover;
}

@keyframes POOP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.users {
  background   : #ecf0f1;
  border       : 1px solid #2c3e50;
  border-radius: 5px;
  font-family  : arial;
  padding      : 3px;
  position     : absolute;
  right        : 0;
  top          : 60px;
}

.users #title {
  color: #2c3e50;
}

.users #nbUsers {
  background: rgba(41, 128, 185, 0.65);
  color     : #ecf0f1;
  text-align: center;
  width     : auto;
}
  
.users #listAllUsers {
  color    : #34495e;
  font-size: 15px;
  height   : 50px;
  height   : auto;
  padding  : 5px;
  width    : 150px;
}

#listAllUsers div {
  align-items    : center;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}

#listAllUsers div .colorPinPlayer {
  border       : 1px solid #34495e;
  border-radius: 50%;
  height       : 20px;
  width        : 20px;
}

#listAllUsers div:hover {
  cursor     : pointer;
  font-weight: bold;
}

.player {
  cursor     : pointer;
  filter     : drop-shadow(0 0 10px #FFF);
  position   : absolute;
  top        : 70px;
  user-select: none;
  width      : fit-content;
  z-index    : 1;
}

.player img {
  filter    : brightness(100%);
  transition: 0.5s filter linear, 0.3s width linear;
  width     : 100px;
}

.player img:hover, .player img:active {
  filter    : brightness(300%);
  transition: 0.3s filter linear, 0.3s width linear;
  width     : 150px;
}

.poops {
  height: 100%;
  width : 100%;
}

.poops img {
  animation: 1s POOP;
  position : absolute;
  top      : 150px;
  width    : 60px;
}

.namePlayer {
  background   : #ecf0f1;
  border       : 2px solid #2c3e50;
  border-radius: 5px;
  color        : #2c3e50;
  font-family  : arial;
  font-size    : 20px;
  font-weight  : bold;
  padding      : 5px 35px;
  width        : max-content;
}

#layout {
  background-color: #1abc9c;
  border-radius   : 0 0 0 25px;
  box-shadow      : 0 8px 0 #16a085;
  overflow        : hidden;
  padding         : 2px 10px;
  position        : fixed;
  right           : 0;
}

#layout label {
  color: #8e44ad;
  padding-right: 5px;
}

#layout div {
  align-items    : center;
  display        : flex;
  justify-content: flex-end;
}

#layout p {
  margin: 0;
}

#layout a {
  color          : #f2f2f2;
  display        : block;
  float          : left;
  padding        : 14px 16px;
  text-align     : center;
  text-decoration: none;
}

#layout a:hover {
  background: #ddd;
  color     : black;
}

input[type="range"] {
  -moz-apperance    : none;
  -webkit-appearance: none;
  background        : #2ecc71;
  border            : 1px solid #27ae60;
  border-radius     : 6px;
  box-shadow        : 0 0 35px #fff;
  cursor            : pointer;
  height            : 5px;
  outline           : none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color  : #E9E9E9;
  border            : 1px solid #CECECE;
  border-radius     : 15px;
  cursor            : pointer;
  height            : 15px;
  transition        : 0.1s background ease;
  width             : 15px;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #f6db6e;
  transition: 0.1s background ease;
}

input[type='range']:hover {
  background: #2aac61;
  transition: 0.1s background ease;
}

#volumeBzzVal, #volumeVal {
  background   : #3498db;
  border       : 1px solid #2980b9;
  border-radius: 50%;
  color        : #ecf0f1;
  font-size    : 20px;
  text-align   : center;
  width        : 25px;
}


#targets {
  bottom  : 0;
  height  : 200px;
  position: absolute;
  width   : 100%;
}
#targets div {
  background   : #ecf0f1;
  border       : 5px solid #2ecc71;
  border-radius: 100%;
  box-shadow   : 0 10px 0 #1d7944;
  position     : absolute;
  transform    : rotateX(50deg);
}

#targets div img {
  border-radius: inherit;
  width        : 100%;
}
