body {
  background             : url('../images/home.gif') no-repeat center center fixed;
  background-size        : cover;
  height                 : 100%;
  user-select            : none;
}

@font-face {
  font-family: 'pixel';
  src        : url('../fonts/Pixelmania.ttf');
}
@font-face {
  font-family: 'hellion';
  src        : url('../fonts/Hellion.ttf');
}

.title {
  color      : #2e48d4;
  font-family: 'pixel';
  margin     : 0;
  padding    : 30px 10px;
  text-align : center;
}
.title span {
  color: #009688;
}

.logo {
  text-align: center;
}

.logo img {
  border-radius: 25px;
  box-shadow   : 0 0px 1px #2e48d4;
  width        : 150px;
}

.form {
  align-items    : center;
  display        : flex;
  flex-direction : column;
  height         : 50vh;
  justify-content: center;
  margin         : 0 auto;
  width          : 50%;
}

.form input[name=name] {
  padding: 0 0 5px 15px;
}

.form input {
  border       : 1px solid #dcdcdc;
  border-radius: 5px;
  box-sizing   : border-box;
  font-size    : 25px;
  height       : 45px;
  width        : 100%;
}
.form input::placeholder {
  font-size: initial;
}

.form input[name=submit] {
  background     : #3498db;
  color          : #FFF;
  cursor         : pointer;
  font-family    : arial;
  font-size      : 25px;
  line-height    : 40px;
  margin-top     : 5px;
  text-align     : center;
  text-decoration: none;
}

.form input[name=submit]:hover {
  background: #2980b9;
}

.form input[name=submit]:disabled {
  background: #ecf0f1;
  color     : #bdc3c7;
}

@media screen and (max-width: 640px) {
  .form {
    width: 90%;
  }
}
