	  <div class="how-to-play">
	  	<span>How to play</span><br>
	  	Press : ENTER or SPACE<br>
	  	Rules : You need to touch the targets for earn points
	  </div>
  </body>
	<script defer src="lib/TweenLite.min.js"></script>
	<script defer src="lib/CSSPlugin.min.js"></script>
	<script defer src="lib/Draggable.min.js"></script>
	<script defer src="lib/lodash.min.js"></script>

	<script src="utils/helpers.js"></script>
	<% if (typeof script !== 'undefined' && script.length > 0) { %>
		<script src="js/<%= script %>.js"></script>
	<% } %>
	<% if (typeof socket !== 'undefined' && socket) { %>
		<script src="socket.io/socket.io.js"></script>
		<script>const socket = io();</script>
	<% } %>
</html>
