<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>LA MOUCHE</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/index.global.css">
    <link rel="icon" type="image/png" href="assets/image/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <% if (typeof link !== 'undefined' && link.length > 0) { %>
      <link rel="stylesheet" type="text/css" href="assets/styles/<%= link %>.css">
    <% } %>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="description" content="Play with Teemo and shit everywhere !" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="The TeemoPooper" />
    <meta property="og:type" content="game" />
    <!-- <meta property="og:url" content="http://www.yakaferci.com/open-graph/" /> -->
    <meta property="og:image" content="assets/images/logo.jpg" />
  </head>
  <body>
