body {
  background     : url('../images/home.gif') no-repeat center center fixed;
  background-size: cover;
  height         : 100%;
  user-select    : none;
}

@font-face {
  font-family: 'pixel';
  src        : url('../fonts/Pixelmania.ttf');
}
@font-face {
  font-family: 'hellion';
  src        : url('../fonts/Hellion.ttf');
}

.title {
  color      : #2e48d4;
  font-family: 'pixel';
  margin     : 0;
  padding    : 30px 10px;
  text-align : center;
}

.title span {
  color: #009688;
}

.logo {
  text-align: center;
}

.logo img {
  border-radius: 25px;
  box-shadow   : 0 0px 1px #2e48d4;
  width        : 150px;
}

.form {
  align-items    : center;
  display        : flex;
  flex-direction : column;
  height         : auto;
  justify-content: center;
  margin         : 0 auto;
  width          : 50%;
}

.form input[name=name] {
  padding: 0 0 5px 15px;
}

.form input {
  border       : 1px solid #dcdcdc;
  border-radius: 5px;
  box-sizing   : border-box;
  font-size    : 25px;
  height       : 45px;
  width        : 100%;
}

.form input::placeholder {
  font-size: initial;
}

.form input[name=submit] {
  background     : #3498db;
  color          : #FFF;
  cursor         : pointer;
  font-family    : arial;
  font-size      : 25px;
  line-height    : 40px;
  margin-top     : 5px;
  text-align     : center;
  text-decoration: none;
}

.form input[name=submit]:hover {
  background: #2980b9;
}

.form input[name=submit]:disabled {
  background: #ecf0f1;
  color     : #bdc3c7;
}

.selection {
  height       : auto;
  margin       : 0 auto;
  margin-bottom: 5px;
  width        : 100%;
}

.selection .block {
  align-items   : center;
  background    : rgba(46, 72, 212, 0.3);
  border-radius : 90px;
  box-shadow    : 0 5px 5px -5px #2c3e50;
  display       : flex;
  flex-direction: row;
  height        : 120px;
  margin        : 0 auto;
  max-width     : 350px;
  min-width     : 300px;
  width         : 50%;
}

.selection .block i {
  color    : #2c3e50;
  cursor   : pointer;
  font-size: 40px;
  padding  : 15px;
}

.selection .block i:hover {
  color: #7f8c8d;
}

.selection .block .skin {
  background: url('../images/mouches.png') no-repeat;
  filter    : drop-shadow(0 0 10px #2ecc71);
  height    : 110px;
  margin    : 0 auto;
  width     : 130px;
}

@media screen and (max-width: 640px) {
  .form {
    width: 90%;
  }
}
