html, body {
	margin : 0;
	padding: 0;
}

html {
	height: 100%;
}

.how-to-play {
	background   : rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	bottom       : 5px;
	box-sizing   : border-box;
	font-family  : arial;
	height       : auto;
	padding      : 8px 15px;
	position     : absolute;
	width        : 50%;
	z-index      : 10000;
}

.how-to-play span {
	font-weight: bold;
}

.how-to-play:hover {
	background: rgba(255, 255, 255, 0.9);
}
